*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    height: 100vh;
    width: auto;
}

header{
    padding: 20px 0px 10px 20px ;
    border-bottom: 1px solid rgb(139, 139, 139, 0.4);
}

.container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;

}

.productForm{
    display: flex;
    flex-direction: row;
}



/* FORM */
.formDiv{
    /* width: 250px; */
    box-shadow: 0 0 2px rgb(139, 139, 139, 0.8);
    border-radius: 10px;
    margin: 30px 50px;
}

.formDiv h3{
    background: rgb(139, 139, 139, 0.3);
    border-bottom: 1px solid rgb(139, 139, 139, 0.4);
    border-radius: 10px 10px 0 0;
    padding: 5px 10px;
}

.formGroup{
    margin: 0 20px
}

.formDiv input{
    width: 100%;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(139, 139, 139, 0.4); 
}

#name{
    margin-top: 20px
}

.btnSubmit{
    border-radius: 10px;
    background-color: rgb(90, 20, 139);
    width: 100%;
    color: #ffffff;
    padding: 5px 10px;
    margin: 10px 0 20px 0;
    cursor: pointer;
    border: none;
}

.btnSubmit:hover{
    background-color: rgba(108, 48, 151, 0.788);
}



/* SHOW PRODUCTS */
.showProducts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.showCreatedProduct{
    border: 1px solid rgb(139, 139, 139, 0.4);
    padding: 20px;
    font-size: 14px;
    margin-bottom: 15px;
}


.btnDelete{
    background: rgb(212, 40, 75);
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #ffffff;
}

.btnDelete:hover{
    background: rgba(202, 48, 79, 0.767);
}



